.subTitle {
  display: flex;
  align-items: end;
  border-bottom: 1px solid black;
}
.subTitle h2 {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}

.subTitle > .subExplanation {
  font-size: 0.5rem;
  color: #a8a8a8;
}

.subTitle > button {
  font-size: 0.8rem;
  color: #a8a8a8;
}
