.infobox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 180%;
}

.recipeName {
  color: #a84d19;
  font-size: small;
}

.recipeTitle {
  color: #704718;
  font-weight: 600;
  font-size: x-large;
}

.recipeDescription {
  line-height: 170%;
}

.subDetailBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subDetail {
  display: flex;
  gap: 5px;
}
