.joinArticle {
  display: flex;
  justify-content: center;
}

.joinForm {
  display: flex;
  flex-direction: column;
}

.joinForm > div:nth-of-type(3),
.joinForm > div:nth-of-type(4),
.joinForm > div:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}

.joinBtn {
  height: 4vh;
  background-color: #ffa944;
  color: #fff;
  border-radius: 10px;
}
