.largeCategoryList {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.largeCategoryList li {
  position: relative;
  background-image: url(/images/button_orange.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.largeCategoryList li:hover {
  background-image: url(/images/button_deep_orange.png);
}

.largeCategoryList li h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
